.mainNav {
  display: flex;
  flex-direction: row;
  padding: 15px 25px 0 25px;
  padding-bottom: env(safe-area-inset-bottom);
  justify-content: space-between;
  align-items: center;
}

.navlink img {
  width: 27px;
  height: 27px;
}

.navlink:nth-child(3) img {
  width: 33px;
  height: 33px;
}

.navlink h3 {
  display: none;
}

.xtraNav {
  display: none;
  position: absolute;
}

.xtraMenu {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: rgba(252, 252, 252, .95);
  background:
    linear-gradient(180deg,
      rgba(252, 252, 252, 0.7) 7%,
      rgba(252, 252, 252, 0.7) 70%,
      rgba(252, 252, 252, 0.7) 100%);
  border: silver 1px solid;
  border-radius: 8px;
  backdrop-filter: blur(2px);
}

.xtraLink > a {
  display: flex;
  position: relative;
  padding: 8px;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  color: black;
  text-decoration: underline;
}

.xtraLink > a:hover {
  transition: 0.2s ease-in-out;
  color: red;
}

.mode {
  margin: 0 auto;
  padding: 5px;
  cursor: pointer;
}
