body, header, main, nav, footer {
  margin: auto;
  padding: 8px;
  max-width: 500px;
  text-decoration: none;
}

main {
  display: flex;
  height: calc(100vh - 108px);
  overflow: hidden;
}

#BIBLE h1 {
  font-size: 33px;
}

#BIBLE, #BOOKS, #PRAISETHELORD {
  background: transparent !important;
  color: var(--red) !important;
  text-align: center;
  text-decoration: none;
  font-weight: var(--fw7);
}

#GODSWORD {
  flex: 1;
  overflow-y: auto;
  background:
		linear-gradient(to bottom, var(--wht) 8%, transparent),
		linear-gradient(to bottom, transparent, var(--wht) 80%) 0 100%,
    linear-gradient(to bottom, var(--slv), transparent 8%),
    linear-gradient(to top, var(--slv), transparent 8%);
  background-attachment: local, local, scroll, scroll;
  border: 2px solid var(--gry);
  border-radius: 18px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#GODSWORD::-webkit-scrollbar {
  display: none;
}

#BOOKCHAPTER {
  padding: 20px 0 12px;
  text-align: center;
  font-size: 18px;
  font-weight: var(--fw7);
}

#CHAPTERVERSES {
  padding: 0 12px;
}

#CHAPTERVERSES > * {
  padding: 8px 0;
  line-height: 25px;
}

#GODSBOOKS {
  text-align: center;
  font-size: 18px;
}

#BIBLEBOOKS {
  padding: 18px 0;
}

#BIBLEBOOKS button {
  padding: 8px;
  color: var(--blk);
  background: var(--gry);
  border: var(--slv) 1px solid;
  border-radius: 8px;
  cursor: pointer;
}

#BIBLEBOOKS button:hover {
  color: var(--red);
  cursor: pointer;
}

#PRAISETHELORD h4 {
  font-size: 25px;
}
