* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, header, nav, main, footer {
  margin: 0 auto;
  padding: 7px;
  max-width: 400px;
  text-decoration: none;
}

main {
  display: flex;
  height: calc(100vh - 100px); /* Full height minus header/footer */
  overflow: hidden;
}

#BIBLE, #BIBLEBOOKS, #PRAISETHELORD {
  color: red !important;
  background: transparent !important;
  text-align: center;
  text-decoration: none;
}

#content-section {
  flex: 1;
  overflow-y: auto; /* Allow scrolling if content overflows */
}

#book-title {
  padding: 10px;
  text-align: center;
}

#content > * {
  padding: 10px 0;
  line-height:1.5rem;
}

#books-section {
  text-align: center;
}

#books-list {
  padding: 18px 0;
}

#books-list button {
  padding: 8px;
  cursor: pointer;
}

#books-list button:hover {
  color: red;
  cursor: pointer;
}
